
<!-- Si l'utilisateur est connecté -->
<div class="login" *ngIf=" auth.user$ | async as user; else login">
  
  <h1>Welcome, {{ user.displayName }}</h1>
  
  <div class="user">
    <h2>Your profile :</h2>
    <div class="user-info">
      <img [src]="user.photoURL">
      <span>{{ user.displayName }}</span>
      <button class="sign-out" (click)="auth.signOut()">Sign Out</button>
    </div>
    <!-- <p class="">{{ user.uid }}</p> -->
  </div>

  <div class="chats">
    <h3>My Chats</h3>
    <button class="add-chat" (click)="cs.create()">Create New Chat</button>

    <ul>
      <li *ngFor="let chat of userChats$ | async">
        <a class="chat" [routerLink]="'chats/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
      </li>
    </ul>
  </div>

</div>

<!-- Si l'utilisateur n'est pas connecté  -->
<ng-template class="login" #login>
  <h1>You need to log in</h1>
  <button class="google-sign-in" (click)="auth.googleSignIn()">
    <i class="fab fa-google"></i>
    <span>Login with Google</span>
  </button>
</ng-template>